/******************************************************
http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
******************************************************/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/****************
PRIMARY STYLES 
/***************/
body {
  margin: 0;
  font-family: "Smythe", sans-serif;
  background-color: #f5f5f5;
}

.container {
  max-width: 600px;
  background-color: #ffffff;
  margin: 0 auto;
}

.main-content {
  padding: 67px 46px 45px 46px;
}

.item-label {
  font-size: 28px;
  line-height: 16.8px;
  margin-bottom: 8.8px;
}

.item-price {
  font-size: 20px;
}

.primary-button {
  background-color: #00cc88;
  color: white;
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-family: Verdana, sans-serif;
  cursor: pointer;
}

.primary-button:hover {
  background-color: #00b07a;
}

.hover-effect {
  transition: var(--transition-prop, all) 0.3s ease;
}

/****************
HEADER 
/***************/
.header__image {
  max-width: 600px;
  width: 100%;
  height: auto;
}

/****************
MENU 
/***************/
.menu {
  display: flex;
  flex-direction: column;
  gap: 45px;
  margin-bottom: 45px;
}
.menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding-bottom: 46px;
  border-bottom: 1px solid #d2d2d2;
}

.menu-item__icon {
  font-size: 80px;
}

.menu-item__info {
  flex: 1;
  margin-right: 16px;
}

.menu-item__ingredients {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;
  color: #8b8b8b;
}

.menu-item__button {
  width: 50px;
  height: 50px;
  border: 1px solid #dedede;
  border-radius: 50%;
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 6px;
}

.menu-item__button:hover,
.menu-item__button:focus {
  border-color: #08c989;
}

/****************
ORDER SUMMARY 
/***************/
.order-summary__title {
  margin-bottom: 64px;
  text-align: center;
}

.order-summary__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.order-summary__item-info {
  display: flex;
  align-items: center;
  gap: 13px;
}

.order-summary__item-remove {
  background: none;
  border: none;
  color: #888;
  font-size: 14px;
  cursor: pointer;
  padding: 0;
}

.order-summary__item-remove:hover,
.order-summary__item-remove:focus {
  color: #ff0000;
}

.order-summary__total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  margin: 20px 0 56px 0;
  padding-top: 18px;
  border-top: 1px solid #393333;
}

/*********************
COMPLETE ORDER MODAL 
*********************/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.complete-order-modal {
  width: 524px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 3.89px;
  box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.3);
}

.complete-order-modal__form {
  display: flex;
  flex-direction: column;
  gap: 23px;
  padding: 47.32px 23.22px 46.43px 23.22px;
}

.complete-order-modal__form-title {
  font-size: 24px;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 27px;
}

.complete-order-modal__form-input {
  padding: 23px 26.53px 20px 26.53px;
  border: 1.3px solid #757575;
  border-radius: 3.89px;
  box-shadow: none;
}

.complete-order-modal__form-input::placeholder {
  font-size: 20px;
  font-weight: 100;
  font-family: Verdana, sans-serif;
  padding: 20px 0;
}

.complete-order-modal__form-button {
  font-size: 20px;
  margin-top: 15px;
  padding: 20px;
}

.modal-hidden {
  display: none;
}

/**********************
ORDER COMPLETE MESSAGE 
**********************/
.order-complete-message {
  background-color: #ecfdf5;
}

.order-complete-message__text {
  color: #065f46;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  padding: 36px 15px;
}
